/*==========================================

position

============================================*/

.u-relative {
	position: relative;
}

.u-absolute {
	position: absolute;
}

/*==========================================

list

============================================*/

.u-olList[class] {
	padding-left: 1.5em;
	> * {
		list-style: decimal;
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.u-ulList[class] {
	padding-left: 1.5em;
	> * {
		list-style: disc;
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.u-listIndent {
	> * {
		padding-left: 1em;
		text-indent: -1.3em;
	}
}

/*==========================================

text

[リキッドなfont-sizeについて]

ある幅間（375px → 1024px）において文字サイズを流動的に
変更したい際は以下のような設定を行うとうまくいく

font-size: calc(1.5rem + ((1vw - 3.75px) * 3.8521));

-解説-

font-size: calc(XXrem + ((1vw - YYpx) * ZZ));

XX : 最小の文字サイズ（rem換算）
YY : 設定最小幅 / 100
ZZ : 100 * （最大文字サイズ - 最小文字サイズ）/ （設定最大幅 - 設定最小幅

============================================*/

.u-text-decNone {
	text-decoration: none;
}

.u-fs-large {
	font-size: calc(18px);
	&-xl {
		font-size: calc(24px);
	}
}

.u-fs-normal {
	font-size: calc(16px);
}

.u-fs-small {
	font-size: calc(14px);
	&-xs {
		font-size: calc(10px);
	}
}

.u-text-center {
	text-align: center;
}

.u-light {
	font-weight: 300;
}

.u-bold {
	font-weight: bold;
}

.u-baseLineH {
	line-height: 1.5;
}

.u-text-vertical {
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
}

/*==========================================

img

============================================*/

.u-imgfit {
	object-fit: cover;
	height: 100%;
	width: 100%;
	//↓IE11対策 要object-fit-images.js
	// font-family: 'object-fit:cover;';
	// font-family: 'object-fit: cover; object-position: center top;';
}

//fitie.js(fit ie)を使用する際は以下のコードでIEでもobject-fitが適用される

object-fit {
	> .u-imgfit {
		@extend .u-imgfit;
		position: absolute;
		right: 0;
	}
}

/*==========================================

display

============================================*/

.u-block {
	display: block;
}

/*==========================================

ブレイクポイント別のディスプレイ切り替え

============================================*/
/*
毎回頭こんがらがるので覚え書き
.u-none--○○(○○は_breakpoint.scssで使用している名称と同じ)は
そのポイントより狭くなったときに表示が消える。～○○px以下。
.u-block--○○は
そのポイントより広くなったときに表示される。～○○px以上。
*/

.u-none {
	&--sm {
		display: none;
		@include mq(sm) {
			display: block;
		}
	}
	&--md {
		display: none;
		@include mq(md) {
			display: block;
		}
	}
	&--lg {
		display: none;
		@include mq(lg) {
			display: block;
		}
	}
}
.u-block {
	&--sm {
		display: block;
		@include mq(sm) {
			display: none;
		}
	}
	&--md {
		display: block;
		@include mq(md) {
			display: none;
		}
	}
	&--lg {
		display: block;
		@include mq(lg) {
			display: none;
		}
	}
}

/*==========================================

test

============================================*/

.u-testBox {
	background-color: navy;
	color: #ddd;
	// height: 50px;
	padding: 50px 20px;
	&:before,
	&:after {
		content: '';
		display: table;
	}
}
