.u-padding-remove-top {
	padding-top: 0 !important;
}

.u-padding-remove-bottom {
	padding-bottom: 0 !important;
}

.u-padding-large-bottom {
	padding-bottom: 60px;
}
.u-padding-xlarge-bottom {
	padding-bottom: 60px;
}
