[class^='u-width'] {
	width: 100%;
	max-width: 100%;
}
.u-width-auto {
	width: auto;
}

.u-width-expand {
	flex: 1;
	min-width: 1px;
	&-sm {
		@include mq(sm) {
			flex: 1;
			min-width: 1px;
		}
	}
	&-md {
		@include mq(md) {
			flex: 1;
			min-width: 1px;
		}
	}
	&-lg {
		@include mq(lg) {
			flex: 1;
			min-width: 1px;
		}
	}
	&-xl {
		@include mq(xl) {
			flex: 1;
			min-width: 1px;
		}
	}
}

.u-width-1 {
	&-1 {
		width: 100%;
	}
	&-2 {
		width: 50%;
		&-xm {
			@include mq(xm) {
				width: 50%;
			}
		}
		&-sm {
			@include mq(sm) {
				width: 50%;
			}
		}
		&-md {
			@include mq(md) {
				width: 50%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 50%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 50%;
			}
		}
	}
	&-3 {
		width: 33.33%;
		&-xm {
			@include mq(xm) {
				width: 33.3333%;
			}
		}
		&-sm {
			@include mq(sm) {
				width: 33.3333%;
			}
		}
		&-md {
			@include mq(md) {
				width: 33.3333%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 33.3333%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 33.3333%;
			}
		}
	}
	&-4 {
		width: 25%;
		&-xm {
			@include mq(xm) {
				width: 25%;
			}
		}
		&-sm {
			@include mq(sm) {
				width: 25%;
			}
		}
		&-md {
			@include mq(md) {
				width: 25%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 25%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 25%;
			}
		}
	}
	&-5 {
		width: 20%;
		&-xm {
			@include mq(xm) {
				width: 20%;
			}
		}
		&-sm {
			@include mq(sm) {
				width: 20%;
			}
		}
		&-md {
			@include mq(md) {
				width: 20%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 20%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 20%;
			}
		}
	}
	&-6 {
		width: 16.66%;
		&-xm {
			@include mq(xm) {
				width: 16.6666%;
			}
		}
		&-sm {
			@include mq(sm) {
				width: 16.6666%;
			}
		}
		&-md {
			@include mq(md) {
				width: 16.6666%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 16.6666%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 16.6666%;
			}
		}
	}
}

.u-width-2 {
	&-3 {
		&-sm {
			@include mq(sm) {
				width: 66.6666%;
			}
		}
		&-md {
			@include mq(md) {
				width: 66.6666%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 66.6666%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 66.6666%;
			}
		}
	}
	&-4 {
		&-sm {
			@include mq(sm) {
				width: 50%;
			}
		}
		&-md {
			@include mq(md) {
				width: 50%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 50%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 50%;
			}
		}
	}
	&-5 {
		&-sm {
			@include mq(sm) {
				width: 40%;
			}
		}
		&-md {
			@include mq(md) {
				width: 40%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 40%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 40%;
			}
		}
	}
	&-6 {
		&-sm {
			@include mq(sm) {
				width: 33.3333%;
			}
		}
		&-md {
			@include mq(md) {
				width: 33.3333%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 33.3333%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 33.3333%;
			}
		}
	}
}

.u-width-3 {
	&-4 {
		&-sm {
			@include mq(sm) {
				width: 75%;
			}
		}
		&-md {
			@include mq(md) {
				width: 75%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 75%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 75%;
			}
		}
	}
	&-5 {
		&-sm {
			@include mq(sm) {
				width: 60%;
			}
		}
		&-md {
			@include mq(md) {
				width: 60%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 60%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 60%;
			}
		}
	}
	&-6 {
		&-sm {
			@include mq(sm) {
				width: 50%;
			}
		}
		&-md {
			@include mq(md) {
				width: 50%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 50%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 50%;
			}
		}
	}
}

.u-width-4 {
	&-5 {
		&-sm {
			@include mq(sm) {
				width: 80%;
			}
		}
		&-md {
			@include mq(md) {
				width: 80%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 80%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 80%;
			}
		}
	}
	&-6 {
		&-sm {
			@include mq(sm) {
				width: 66.6666%;
			}
		}
		&-md {
			@include mq(md) {
				width: 66.6666%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 66.6666%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 66.6666%;
			}
		}
	}
}

.u-width-5 {
	&-6 {
		&-sm {
			@include mq(sm) {
				width: 83.3333%;
			}
		}
		&-md {
			@include mq(md) {
				width: 83.3333%;
			}
		}
		&-lg {
			@include mq(lg) {
				width: 83.3333%;
			}
		}
		&-xl {
			@include mq(xl) {
				width: 83.3333%;
			}
		}
	}
}

.u-child-width-expand {
	//グリッドボックスでミキシング幅を使う場合、一列で収まるよう各ボックスの幅を持たせてください
	> :not([class^='u-width']) {
		flex: 1;
		min-width: 1px;
		@include mq(md, max) {
			width: 100%;
		}
	}
	&-sm {
		@include mq(sm) {
			> :not([class^='u-width']) {
				flex: 1;
				min-width: 1px;
				@include mq(md, max) {
					width: 100%;
				}
			}
		}
	}
	&-md {
		@include mq(md) {
			> :not([class^='u-width']) {
				flex: 1;
				min-width: 1px;
				@include mq(md, max) {
					width: 100%;
				}
			}
		}
	}
	&-lg {
		@include mq(lg) {
			> :not([class^='u-width']) {
				flex: 1;
				min-width: 1px;
				@include mq(md, max) {
					width: 100%;
				}
			}
		}
	}
	&-xl {
		@include mq(xl) {
			> :not([class^='u-width']) {
				flex: 1;
				min-width: 1px;
				@include mq(md, max) {
					width: 100%;
				}
			}
		}
	}
}

.u-child-width-1 {
	&-1 {
		> * {
			width: 100%;
		}
		&-xm {
			@include mq(xm) {
				> * {
					width: 100%;
				}
			}
		}
		&-sm {
			@include mq(sm) {
				> * {
					width: 100%;
				}
			}
		}
		&-md {
			@include mq(md) {
				> * {
					width: 100%;
				}
			}
		}
		&-lg {
			@include mq(lg) {
				> * {
					width: 100%;
				}
			}
		}
		&-xl {
			@include mq(xl) {
				> * {
					width: 100%;
				}
			}
		}
	}
	&-2 {
		> * {
			width: 50%;
		}
		&-xm {
			@include mq(xm) {
				> * {
					width: 50%;
				}
			}
		}
		&-sm {
			@include mq(sm) {
				> * {
					width: 50%;
				}
			}
		}
		&-md {
			@include mq(md) {
				> * {
					width: 50%;
				}
			}
		}
		&-lg {
			@include mq(lg) {
				> * {
					width: 50%;
				}
			}
		}
		&-xl {
			@include mq(xl) {
				> * {
					width: 50%;
				}
			}
		}
	}
	&-3 {
		> * {
			width: 33.33%;
		}
		&-xm {
			@include mq(xm) {
				> * {
					width: 33.33%;
				}
			}
		}
		&-sm {
			@include mq(sm) {
				> * {
					width: 33.33%;
				}
			}
		}
		&-md {
			// @include mq(md, max) {
			// 	> * {
			// 		width: 100%;
			// 	}
			// }
			@include mq(md) {
				> * {
					width: 33.33%;
				}
			}
		}
		&-lg {
			@include mq(lg) {
				> * {
					width: 33.33%;
				}
			}
		}
		&-xl {
			@include mq(xl) {
				> * {
					width: 33.33%;
				}
			}
		}
	}
	&-4 {
		> * {
			width: 25%;
		}
		&-xm {
			@include mq(xm) {
				> * {
					width: 25%;
				}
			}
		}
		&-sm {
			@include mq(sm) {
				> * {
					width: 25%;
				}
			}
		}
		&-md {
			@include mq(md) {
				> * {
					width: 25%;
				}
			}
		}
		&-lg {
			@include mq(lg) {
				> * {
					width: 25%;
				}
			}
		}
		&-xl {
			@include mq(xl) {
				> * {
					width: 25%;
				}
			}
		}
	}
	&-5 {
		> * {
			width: 20%;
		}
		&-xm {
			@include mq(xm) {
				> * {
					width: 20%;
				}
			}
		}
		&-sm {
			@include mq(sm) {
				> * {
					width: 20%;
				}
			}
		}
		&-md {
			@include mq(md) {
				> * {
					width: 20%;
				}
			}
		}
		&-lg {
			@include mq(lg) {
				> * {
					width: 20%;
				}
			}
		}
		&-xl {
			@include mq(xl) {
				> * {
					width: 20%;
				}
			}
		}
	}
	&-6 {
		> * {
			width: 16.66%;
		}
		&-xm {
			@include mq(xm) {
				> * {
					width: 16.66%;
				}
			}
		}
		&-sm {
			@include mq(sm) {
				> * {
					width: 16.66%;
				}
			}
		}
		&-md {
			@include mq(md) {
				> * {
					width: 16.66%;
				}
			}
		}
		&-lg {
			@include mq(lg) {
				> * {
					width: 16.66%;
				}
			}
		}
		&-xl {
			@include mq(xl) {
				> * {
					width: 16.66%;
				}
			}
		}
	}
}

//画面幅に合わせてボックスの縦横が1:1の比率で変化する
.u-width-height-1-1 {
	position: relative;
	width: 100%;
	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
	&-content {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

// .u-child-width-1-1 {
// 	> * {
// 		@include mq(md, max) {
// 			width: 100%;
// 		}
// 	}
// }
