/*=================================================

div.u-block--md>button.c-navBurger>span*3

==================================================*/
button.c-navBurger {
	position: relative;
	display: flex;
	justify-content: center;
	width: 50px;
	height: 50px;
	cursor: pointer;
	> span {
		position: absolute;
		width: 16px;
		height: 1px;
		background-color: #666;
		transition: all 0.25s ease-out;
		&:nth-child(1) {
			top: calc(50% - 6px);
		}
		&:nth-child(2) {
			top: calc(50% - 1px);
		}
		&:nth-child(3) {
			top: calc(50% + 4px);
		}
	}
	&.action {
		> span {
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 50%;
			}
			&:nth-child(2) {
				display: none;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				top: 50%;
			}
		}
	}
	&[aria-expanded='true'] {
		> span {
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 50%;
			}
			&:nth-child(2) {
				display: none;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				top: 50%;
			}
		}
	}
}

/*=================================================

label

==================================================*/

.c-label,
%c-label {
	display: inline-block;
	padding: 5px 10px;
	background: #1e87f0;
	line-height: 1.5;
	// font-size: 12px;
	color: #fff;
	vertical-align: middle;
	white-space: nowrap;
	border-radius: 2px;
	text-transform: uppercase;
	&.c-label--denger {
		background: #f0506e;
	}
}

.c-label-denger {
	@extend %c-label;
	background: #f0506e;
}

/*=================================================

button.c-closeBtn>span*3


==================================================*/
.c-closeBtn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	cursor: pointer;
	> * {
		position: absolute;
		width: 16px;
		height: 1px;
		background-color: #666;
		transition: all 0.25s ease-out;
		&:nth-child(1) {
			transform: rotate(45deg);
			top: 50%;
		}
		&:nth-child(2) {
			display: none;
		}
		&:nth-child(3) {
			transform: rotate(-45deg);
			top: 50%;
		}
	}
	&.action {
		pointer-events: auto;
		cursor: pointer;
	}
}

@mixin c-btn($isBlock: false) {
	@if ($isBlock) {
		display: inline-block;
		text-decoration: none;
		text-align: center;
		line-height: 1;
		cursor: pointer;
	}
}

.c-btn {
	@include c-btn($isBlock: ture);
}

.c-btn--01 {
	@include c-btn;
	width: 240px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.c-btn--02 {
	@include c-btn;
	width: 70px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #fff;
	font-size: 1.4rem;
}

.c-btn--web {
	@include c-btn;
	background-color: #303f9f;
}

.c-btn--dtp {
	@include c-btn;
	background-color: #339f30;
}

.c-btn--web--ec {
	@include c-btn;
	background-color: #00796b;
}
.c-btn--blog--tec {
	@include c-btn;
	background-color: #455a64;
}
.c-btn--blog--news {
	@include c-btn;
	background-color: #fbc02d;
}
.c-btn--blog--diary {
	@include c-btn;
	background-color: #e64a19;
}

.c-btn--raised {
	@include c-btn;
	background-color: $PrimaryBackColor;
	color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
		0 3px 1px -2px rgba(0, 0, 0, 0.2);
	-webkit-tap-highlight-color: transparent;
	transition: 0.2s ease-out;
	&:hover {
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
			0 3px 1px -1px rgba(0, 0, 0, 0.2);
		background-color: $PrimaryBackColorHover;
	}
}
