/*=================================================

↓デフォルト
div.u-card.u-card-body.u-card-defalut

↓画像付き
div.u-card.u-card-defalut>div.u-card-media-top-s+div.u-card-body


==================================================*/

.u-card {
	width: 100%;
	position: relative;
	transition: box-shadow 0.1s ease-in;
	&-body {
		padding: 30px;
	}
	&-small {
		padding: 15px;
	}
	&-large {
		padding: 45px;
	}
	&.u-card-defalut,
	&%u-card-defalut {
		background-color: #fff;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);
		&:hover {
			box-shadow: 0 14px 25px rgba(0, 0, 0, 0.32);
		}
	}
	&.u-card-primary {
		@extend %u-card-defalut;
		background: #1e87f0;
		color: #fff;
	}
	&-media-top {
		&-s {
			position: relative;
			overflow: hidden;
			height: 170px;
			> .u-imgfit {
				height: 100%;
			}
			& + .u-card-textarea {
				display: flex;
				flex-direction: column;
				height: calc(100% - 170px);
			}
			@include mq(md, max) {
				height: $media-top-md;
				> .u-imgfit {
					height: 100%;
				}
				& + .u-card-textarea {
					display: flex;
					flex-direction: column;
					height: calc(100% - #{$media-top-md});
				}
			}
		}
		&-m {
			position: relative;
			overflow: hidden;
			height: 300px;
			> .u-imgfit {
				height: 100%;
			}
			& + .u-card-textarea {
				display: flex;
				flex-direction: column;
				height: calc(100% - 300px);
			}
			@include mq(md, max) {
				height: $media-top-md;
				> .u-imgfit {
					height: 100%;
				}
				& + .u-card-textarea {
					display: flex;
					flex-direction: column;
					height: calc(100% - #{$media-top-md});
				}
			}
		}
		&-media-right {
		}
		&-media-bottom {
		}
		&-media-left {
		}
	}
}
