/*=================================================

content関連

div.c-gridbox.c-grid-match
	div

.c-grid-matchは並べたい要素の高さをマッチしたいときに使用
==================================================*/

.c-gridBox,
%c-gridBox {
	display: flex;
	flex-wrap: wrap;
	margin-right: 0;
	padding: 0;
	list-style: none;
	margin-left: -30px;
	> * {
		margin-bottom: 30px;
		padding-left: 30px;
		@include mq(md, max) {
			margin-bottom: 15px;
		}
	}
	&-small {
		@extend %c-gridBox;
		margin-left: -10px;
		> * {
			padding-left: 10px;
			margin-bottom: 15px;
		}
	}
	&-small-point {
		@extend %c-gridBox;
		//特別仕様を組みこむ場合はクラス名を変えてこのように記述する
		margin-left: -10px;
		> * {
			padding-left: 10px;
			margin-bottom: 80px;
			@include mq(sm) {
				margin-bottom: 15px;
			}
		}
	}
}

.c-grid-match {
	> * {
		display: flex;
		flex-wrap: wrap;
		> :not([class*='u-width']) {
			width: 100%;
			flex: auto;
		}
	}
}
