.c-navBar {
	height: $HeaderHight;
	display: flex;
	*:not(img) {
		height: 100%;
	}
}
.c-navBtn {
	> li {
		> a {
			color: $mainColor;
			padding: 0 10px;
			display: block;
			transition: 0.2s ease-out;
			text-align: center;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				background-color: #d1d9ff;
			}
		}
	}
}

/*=================================================

nav.c-stickyNav.js-sticky>ul.c-navBar.c-navBtn>li*3

スティッキーナビができるよ

==================================================*/

.c-stickyNav {
	&.fixed {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 200;
		background-color: #fff;
	}
}

/*=================================================

nav.c-stickyNav.js-sticky>ul.u-flex.u-flex-middle>li*3

スティッキーナビができるよ

==================================================*/
.verticalMenu-container {
	display: table;
	position: absolute;
	top: 55%;
	left: 46%;
	transform: translate(-46%, -55%);

	ul#verticalMenu-nav {
		position: relative;
		float: left;
		text-align: right;
		border-right: 1px solid rgba(255, 255, 255, 0.3);
		text-transform: uppercase;
		font-size: 14px;

		li {
			padding: 30px 15px;
			cursor: pointer;
		}
	}
}

.active {
	color: #1abc9c;
	font-weight: 600;
}

#slidingLine {
	position: absolute;
	top: 0;
	right: -2px;
	width: 3px;
	padding: 0 !important;
	background-color: #1abc9c;
}
