.c-container {
  padding-left: 5%;
  padding-right: 5%;
  max-width: calc(1000px + 10%);
  margin: 0 auto;
  &.c-container--sakura {
    max-width: none;
  }
}

.u-sackuraMenu {
  li > a {
    color: #666;
    transition: color 0.2s ease-in;
    text-decoration: none;
    &:hover {
      color: steelblue;
    }
  }
}
