/*=================================================

content関連

div.l-gridbox.l-grid-match
	div

.l-grid-matchは並べたい要素の高さをマッチしたいときに使用
==================================================*/

@mixin l-gridBox($margin-left: -30px, $isBlock: false) {
	@if ($isBlock) {
		display: flex;
		flex-wrap: wrap;
		margin-right: 0;
		padding: 0;
		list-style: none;
	}
	margin-left: $margin-left;
}

.l-gridBox {
	@include l-gridBox($isBlock: true);
	> * {
		margin-bottom: 30px;
		padding-left: 30px;
		@include mq(md, max) {
			margin-bottom: 15px;
		}
	}
	&--small {
		@include l-gridBox($margin-left: -10px);
		> * {
			padding-left: 10px;
			margin-bottom: 15px;
		}
	}
	&--small-point {
		@include l-gridBox($margin-left: -10px);
		//特別仕様を組みこむ場合はクラス名を変えてこのように記述する
		> * {
			padding-left: 10px;
			margin-bottom: 80px;
			@include mq(sm) {
				margin-bottom: 15px;
			}
		}
	}
}

.l-grid-match {
	> * {
		display: flex;
		flex-wrap: wrap;
		> :not([class*='u-width']) {
			width: 100%;
			flex: auto;
		}
	}
}
