.c-header {
	position: fixed;
	z-index: 100;
	background-color: #fff;
	&-top {
		top: 0;
		right: 0;
		left: 0;
	}
	&-right {
		top: 0;
		right: 0;
	}
	&__container {
		padding-left: 40px;
		padding-right: 40px;
		margin: 0 auto;
		max-width: 1840px;
		// height: $HeaderHight;
		*:not(img) {
			height: 100%;
		}
		@include mq(md, max) {
			padding-left: 20px;
			padding-right: 0px;
		}
	}
	&-container-vertical {
		left: auto;
		padding: 10px;
		margin: 0 auto;
		width: 70px;
		height: $HeaderHightVertical;
		* {
			// height: 100%;
		}
		@include mq(md, max) {
			// padding-left: 20px;
			// padding-right: 0px;
		}
	}
}
