/*
変数
*/

/*-----------------------------

navbar 変数

-------------------------------*/

// $navBarHeight: 50px;

/*-----------------------------

color 変数

-------------------------------*/

$PrimaryBackColor: #3f51b5;
$mainColor: #333;
$PrimaryBackColorHover: #002984;
$baseBackColor: #fff;
$MainBackColor: #eceff1;
$dengerColor: #dc3545;

/*-----------------------------

height 変数

-------------------------------*/

$HeaderHight: 50px;
$HeaderHightVertical: 100vh;

/*-----------------------------

card 変数

-------------------------------*/

$media-top-md: 170px;
