/*
変数
*/

$PrimaryBackColor: #3f51b5;
$mainColor: #333;
$PrimaryBackColorHover: #002984;
$baseBackColor: #fff;

$HeaderHight: 50px;
$HeaderHightVertical: 100vh;

$MainBackColor: #eceff1;
$dengerColor: #dc3545;

$media-top-md: 170px;
